body {
    font-family: 'Open Sans', sans-serif;
    background-color: slategray;
}
.container {
    background-color: aliceblue;
}

.link-block {
    border-bottom: 1px solid slategray;
    padding: 15px;
}
.link {
    margin: 0;
}
.tweet {
    margin: 5px 0 0 0;
    font-size: 12px;

}